/*Estilos personalizados*/
/*class="card-title*/
<style>
   #animacionBoton{/*caracteristicas iniciales*/
      width: 200px;
      height: 200px;
      color: red;
      background-color: red;
      transition: width 0.5s ease 0.2s;
   }

   #animacionBoton:hover {
      width: 300px;
      background-color: red;
   }

   #animacion{
      width: 100px;
      height: 100px;
      background-color: blue;
      transition: transform 0.5s ease;
   }

   #animacion:hover{
      transform: rotate(45deg) scale(1.2) translateX(50px) skewX(20deg);
   }
</style>
