/* Estilos Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegurarse de que ocupe toda la pantalla */
}

form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;  /* Se adapta a pantallas peque침as */
    max-width: 600px;  /* M치ximo ancho en pantallas grandes */
    margin: 20px;
    animation: fadeIn 1s ease-out;
}

fieldset {
    border: none;
    margin-bottom: 15px;
}

legend {
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="number"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, select:focus {
    border-color: #007bff;
    outline: none;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"], input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos Responsivos */
@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: 100%;
        background-color: #e73dcb; /* Color de fondo para m칩vil */
    }
    
    div {
        margin-bottom: 10px;
    }

    input[type="submit"], input[type="reset"] {
        width: 100%;
        padding: 12px;
        margin-bottom: 10px; /* Separaci칩n entre los botones */
    }
}
